<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691193849940-rk3ft24enun6aofo4m1aavtlkdkhj1tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691193849940-rk3ft24enun6aofo4m1aavtlkdkhj1tq</string>
	<key>API_KEY</key>
	<string>AIzaSyDmV5glvyb9yhFXcM2gZAGMSG8aIahGwq8</string>
	<key>GCM_SENDER_ID</key>
	<string>691193849940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smoothMoves</string>
	<key>PROJECT_ID</key>
	<string>smooth-moves-8b940</string>
	<key>STORAGE_BUCKET</key>
	<string>smooth-moves-8b940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691193849940:ios:dbb7b235549b9542f565c1</string>
</dict>
</plist>